@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;600&family=Roboto+Mono&family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right ,rgb(255, 180, 42), rgb(255, 145, 0));

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#screenTime{
    font-family: 'Ubuntu', sans-serif;
    font-size:4rem;
    font-weight: 700;
}

#screenDate{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20PX;
    
    text-align: center;
}

#screen{
    width: 400px;
    min-height: 100%;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: slide 1s;
}

#screen.desbloqueio{
    display: none;
}

footer{
    position: absolute;
    bottom: 0;
}

a{
    color: black;
    text-decoration: none;
    font-size: large;
}


img{
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    border: solid 2px rgb(255, 145, 0);
}

p{
    margin: 15px;
    font-size: larger;
}

#screen-desbloqueio{
    width: 400px;
    min-height: 100%;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#screen-desbloqueio.reset{
    position: absolute;
    display: flex;
    animation: slide 1s;
    transition: 1s;
}

@keyframes slide {
    from{
        margin-top: 10%;
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    to{
        margin: 0;
        opacity: 100%;
    }
    
}

#password{
    width: 220px;
    height: 20px;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px grey;
    text-align: center;
}